@import url('https://fonts.googleapis.com/css?family=Oswald|Lato:300');

*{
    padding-top: 10px;
    border:0;
    padding-right: 3px;
    padding-left: 3px;
}

body{
    font-family: "Lato",sans-serif;
}

/*------------ Heading------------*/

#heading {
    font-family: "Oswald",sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    top: 60px;
    color: green;
}


/*------------------- Navigation Bar --------------*/


#menu {
    padding-top: 10px;
    font-size: 100%;
    list-style-type: none;
    letter-spacing: 10px;
}

#menu li {
    float: right;
    margin-right: 30px;
    display: inline;
}

#menu a {
    text-decoration: none;
    color: grey;
    background-color: #fafafa;
    
}

#menu a:hover{
    border-bottom: 1px solid #777777;
}


.active{
    border-bottom: 1px solid #777777;
}

/* --------------- Wrapper --------------*/

.t-text {
    position: relative;
    text-align: right;
    float: right;
}

.b-text {
    position: relative;
    text-align: center;
    float: right;
}
.v-text {
    position: relative;
    text-align: right;
    float: right;
}

.wrapper {
    position: relative;
    top: 50px;
    margin: 2px;
}


h3 {
    position: inherit;
    font-family: "Oswald",sans-serif;
    text-align: center;
    line-height: 2rem;
    margin-bottom: -0.6rem;
    font-size: 50px;
}

p {
    position: relative;
    font-family: "Lato",sans-serif;
    font-size: 20px;
    text-align: justify;
    text-indent: 2em;
    width: auto;
}


/*------------ Image ----------------*/

img {
    position: relative;
    width: 100%;
    float: left;
    left: 0px;
    right: 0px;
}


#photo {
    position: relative;
    top: 50px;
    width: 100%;
    font-size: 0px;
}
